USE [user33]
GO
/****** Object:  Table [dbo].[AddressNK]    Script Date: 07.04.2026 18:57:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AddressNK](
	[ID_Address] [int] IDENTITY(1,1) NOT NULL,
	[PostalCode] [nvarchar](10) NOT NULL,
	[City] [nvarchar](50) NOT NULL,
	[Street] [nvarchar](100) NOT NULL,
	[House] [int] NOT NULL,
 CONSTRAINT [PK_AddressNK] PRIMARY KEY CLUSTERED 
(
	[ID_Address] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderNK]    Script Date: 07.04.2026 18:57:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderNK](
	[ID_Order] [int] IDENTITY(1,1) NOT NULL,
	[OrderNumber] [int] NOT NULL,
	[ID_Product] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[OrderDate] [date] NOT NULL,
	[DeliveryDate] [date] NOT NULL,
	[ID_Address] [int] NOT NULL,
	[ID_User] [int] NULL,
	[RecipientCode] [int] NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_OrderNK] PRIMARY KEY CLUSTERED 
(
	[ID_Order] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductNK]    Script Date: 07.04.2026 18:57:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductNK](
	[ID_Product] [int] IDENTITY(1,1) NOT NULL,
	[Article] [nvarchar](20) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Unit] [nvarchar](10) NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[Supplier] [nvarchar](100) NOT NULL,
	[Manufacturer] [nvarchar](100) NOT NULL,
	[Category] [nvarchar](50) NOT NULL,
	[Discount] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Description] [nvarchar](255) NOT NULL,
	[Photo] [nvarchar](255) NULL,
 CONSTRAINT [PK_ProductNK] PRIMARY KEY CLUSTERED 
(
	[ID_Product] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoleNK]    Script Date: 07.04.2026 18:57:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleNK](
	[UserRole] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_RoleNK] PRIMARY KEY CLUSTERED 
(
	[UserRole] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserNK]    Script Date: 07.04.2026 18:57:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserNK](
	[ID_User] [int] IDENTITY(1,1) NOT NULL,
	[UserRole] [nvarchar](100) NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Login] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_UserNK] PRIMARY KEY CLUSTERED 
(
	[ID_User] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[RoleNK] ([UserRole]) VALUES (N'Администратор')
INSERT [dbo].[RoleNK] ([UserRole]) VALUES (N'Клиент')
INSERT [dbo].[RoleNK] ([UserRole]) VALUES (N'Менеджер')
GO
ALTER TABLE [dbo].[OrderNK]  WITH CHECK ADD  CONSTRAINT [FK_OrderNK_AddressNK] FOREIGN KEY([ID_Address])
REFERENCES [dbo].[AddressNK] ([ID_Address])
GO
ALTER TABLE [dbo].[OrderNK] CHECK CONSTRAINT [FK_OrderNK_AddressNK]
GO
ALTER TABLE [dbo].[OrderNK]  WITH CHECK ADD  CONSTRAINT [FK_OrderNK_ProductNK] FOREIGN KEY([ID_Product])
REFERENCES [dbo].[ProductNK] ([ID_Product])
GO
ALTER TABLE [dbo].[OrderNK] CHECK CONSTRAINT [FK_OrderNK_ProductNK]
GO
ALTER TABLE [dbo].[OrderNK]  WITH CHECK ADD  CONSTRAINT [FK_OrderNK_UserNK] FOREIGN KEY([ID_User])
REFERENCES [dbo].[UserNK] ([ID_User])
GO
ALTER TABLE [dbo].[OrderNK] CHECK CONSTRAINT [FK_OrderNK_UserNK]
GO
ALTER TABLE [dbo].[UserNK]  WITH CHECK ADD  CONSTRAINT [FK_UserNK_RoleNK] FOREIGN KEY([UserRole])
REFERENCES [dbo].[RoleNK] ([UserRole])
GO
ALTER TABLE [dbo].[UserNK] CHECK CONSTRAINT [FK_UserNK_RoleNK]
GO
