USE [user33]
GO
/****** Object:  Table [dbo].[AddressNK]    Script Date: 04.04.2026 13:50:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AddressNK](
	[ID_Address] [int] IDENTITY(1,1) NOT NULL,
	[PostalCode] [nvarchar](10) NOT NULL,
	[City] [nvarchar](50) NOT NULL,
	[Street] [nvarchar](100) NOT NULL,
	[House] [int] NOT NULL,
 CONSTRAINT [PK_AddressNK] PRIMARY KEY CLUSTERED 
(
	[ID_Address] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderNK]    Script Date: 04.04.2026 13:50:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderNK](
	[ID_Order] [int] IDENTITY(1,1) NOT NULL,
	[OrderNumber] [int] NOT NULL,
	[ID_Product] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[OrderDate] [date] NOT NULL,
	[DeliveryDate] [date] NOT NULL,
	[ID_Address] [int] NOT NULL,
	[ID_User] [int] NULL,
	[RecipientCode] [int] NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_OrderNK] PRIMARY KEY CLUSTERED 
(
	[ID_Order] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductNK]    Script Date: 04.04.2026 13:50:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductNK](
	[ID_Product] [int] IDENTITY(1,1) NOT NULL,
	[Article] [nvarchar](20) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Unit] [nvarchar](10) NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[Supplier] [nvarchar](100) NOT NULL,
	[Manufacturer] [nvarchar](100) NOT NULL,
	[Category] [nvarchar](50) NOT NULL,
	[Discount] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Description] [nvarchar](255) NOT NULL,
	[Photo] [nvarchar](255) NULL,
 CONSTRAINT [PK_ProductNK] PRIMARY KEY CLUSTERED 
(
	[ID_Product] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoleNK]    Script Date: 04.04.2026 13:50:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleNK](
	[UserRole] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_RoleNK] PRIMARY KEY CLUSTERED 
(
	[UserRole] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserNK]    Script Date: 04.04.2026 13:50:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserNK](
	[ID_User] [int] IDENTITY(1,1) NOT NULL,
	[UserRole] [nvarchar](100) NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Login] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_UserNK] PRIMARY KEY CLUSTERED 
(
	[ID_User] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AddressNK] ON 

INSERT [dbo].[AddressNK] ([ID_Address], [PostalCode], [City], [Street], [House]) VALUES (1, N'344288', N'Краснокаменск', N'Чехова', 1)
INSERT [dbo].[AddressNK] ([ID_Address], [PostalCode], [City], [Street], [House]) VALUES (2, N'614164', N'Краснокаменск', N' Степная', 30)
INSERT [dbo].[AddressNK] ([ID_Address], [PostalCode], [City], [Street], [House]) VALUES (3, N'394242', N'Краснокаменск', N'Коммунистическая', 43)
SET IDENTITY_INSERT [dbo].[AddressNK] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderNK] ON 

INSERT [dbo].[OrderNK] ([ID_Order], [OrderNumber], [ID_Product], [Quantity], [OrderDate], [DeliveryDate], [ID_Address], [ID_User], [RecipientCode], [Status]) VALUES (21, 1, 1, 2, CAST(N'2022-05-05' AS Date), CAST(N'2022-05-11' AS Date), 13, 9, 301, N'Завершен')
INSERT [dbo].[OrderNK] ([ID_Order], [OrderNumber], [ID_Product], [Quantity], [OrderDate], [DeliveryDate], [ID_Address], [ID_User], [RecipientCode], [Status]) VALUES (22, 1, 2, 2, CAST(N'2022-05-05' AS Date), CAST(N'2022-05-11' AS Date), 14, 9, 302, N'Завершен')
INSERT [dbo].[OrderNK] ([ID_Order], [OrderNumber], [ID_Product], [Quantity], [OrderDate], [DeliveryDate], [ID_Address], [ID_User], [RecipientCode], [Status]) VALUES (23, 2, 3, 3, CAST(N'2022-05-05' AS Date), CAST(N'2022-05-11' AS Date), 12, 1, 302, N'Новый ')
SET IDENTITY_INSERT [dbo].[OrderNK] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductNK] ON 

INSERT [dbo].[ProductNK] ([ID_Product], [Article], [Name], [Unit], [Price], [Supplier], [Manufacturer], [Category], [Discount], [Quantity], [Description], [Photo]) VALUES (1, N'А112Т4', N'Набор кастрюль', N'шт.', CAST(2600.00 AS Decimal(10, 2)), N'Максидом', N'Webber', N'Кастрюли', 4, 6, N'Набор кастрюль Webber BE-335/6 6 пр. серебристый', N'picture_1.png')
INSERT [dbo].[ProductNK] ([ID_Product], [Article], [Name], [Unit], [Price], [Supplier], [Manufacturer], [Category], [Discount], [Quantity], [Description], [Photo]) VALUES (2, N'D548T5', N'Столовый сервиз', N'шт.', CAST(1700.00 AS Decimal(10, 2)), N'Домовой', N'Luminarc', N'Сервиз', 4, 10, N'Столовый сервиз Luminarc Every Day G0566, 6 персон, 18 предм.', N'D548T5.jpg')
INSERT [dbo].[ProductNK] ([ID_Product], [Article], [Name], [Unit], [Price], [Supplier], [Manufacturer], [Category], [Discount], [Quantity], [Description], [Photo]) VALUES (3, N'F735F5', N'Сковорода', N'шт.', CAST(1270.00 AS Decimal(10, 2)), N'Домовой', N'Нева', N'Сковорода', 2, 4, N'Сковорода НЕВА МЕТАЛЛ ПОСУДА Домашняя 7424, съемная ручка, 24 см', N'F735F5.jpg')
SET IDENTITY_INSERT [dbo].[ProductNK] OFF
GO
INSERT [dbo].[RoleNK] ([UserRole]) VALUES (N'Администратор')
INSERT [dbo].[RoleNK] ([UserRole]) VALUES (N'Клиент')
INSERT [dbo].[RoleNK] ([UserRole]) VALUES (N'Менеджер')
GO
SET IDENTITY_INSERT [dbo].[UserNK] ON 

INSERT [dbo].[UserNK] ([ID_User], [UserRole], [FullName], [Login], [Password]) VALUES (1, N'Администратор', N'Федоров Глеб Михайлович', N'o@outlook.com', N'2L6KZG')
INSERT [dbo].[UserNK] ([ID_User], [UserRole], [FullName], [Login], [Password]) VALUES (2, N'Администратор', N'Семенова Софья Дмитриевна', N'hr6zdl@yandex.ru', N'uzWC67')
INSERT [dbo].[UserNK] ([ID_User], [UserRole], [FullName], [Login], [Password]) VALUES (3, N'Администратор', N'Васильев Егор Германович', N'kaft93x@outlook.com', N'8ntwUp')
SET IDENTITY_INSERT [dbo].[UserNK] OFF
GO
ALTER TABLE [dbo].[OrderNK]  WITH CHECK ADD  CONSTRAINT [FK_OrderNK_AddressNK] FOREIGN KEY([ID_Address])
REFERENCES [dbo].[AddressNK] ([ID_Address])
GO
ALTER TABLE [dbo].[OrderNK] CHECK CONSTRAINT [FK_OrderNK_AddressNK]
GO
ALTER TABLE [dbo].[OrderNK]  WITH CHECK ADD  CONSTRAINT [FK_OrderNK_ProductNK] FOREIGN KEY([ID_Product])
REFERENCES [dbo].[ProductNK] ([ID_Product])
GO
ALTER TABLE [dbo].[OrderNK] CHECK CONSTRAINT [FK_OrderNK_ProductNK]
GO
ALTER TABLE [dbo].[OrderNK]  WITH CHECK ADD  CONSTRAINT [FK_OrderNK_UserNK] FOREIGN KEY([ID_User])
REFERENCES [dbo].[UserNK] ([ID_User])
GO
ALTER TABLE [dbo].[OrderNK] CHECK CONSTRAINT [FK_OrderNK_UserNK]
GO
ALTER TABLE [dbo].[UserNK]  WITH CHECK ADD  CONSTRAINT [FK_UserNK_RoleNK] FOREIGN KEY([UserRole])
REFERENCES [dbo].[RoleNK] ([UserRole])
GO
ALTER TABLE [dbo].[UserNK] CHECK CONSTRAINT [FK_UserNK_RoleNK]
GO
