USE [user33]
GO
/****** Object:  Table [dbo].[AddressNK]    Script Date: 07.04.2026 19:31:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AddressNK](
	[ID_Address] [int] IDENTITY(1,1) NOT NULL,
	[PostalCode] [nvarchar](10) NOT NULL,
	[City] [nvarchar](50) NOT NULL,
	[Street] [nvarchar](100) NOT NULL,
	[House] [int] NOT NULL,
 CONSTRAINT [PK_AddressNK] PRIMARY KEY CLUSTERED 
(
	[ID_Address] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductNK]    Script Date: 07.04.2026 19:31:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductNK](
	[ID_Product] [int] IDENTITY(1,1) NOT NULL,
	[Article] [nvarchar](20) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Unit] [nvarchar](10) NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[Supplier] [nvarchar](100) NOT NULL,
	[Manufacturer] [nvarchar](100) NOT NULL,
	[Category] [nvarchar](50) NOT NULL,
	[Discount] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Description] [nvarchar](255) NOT NULL,
	[Photo] [nvarchar](255) NULL,
 CONSTRAINT [PK_ProductNK] PRIMARY KEY CLUSTERED 
(
	[ID_Product] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoleNK]    Script Date: 07.04.2026 19:31:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleNK](
	[UserRole] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_RoleNK] PRIMARY KEY CLUSTERED 
(
	[UserRole] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserNK]    Script Date: 07.04.2026 19:31:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserNK](
	[ID_User] [int] IDENTITY(1,1) NOT NULL,
	[UserRole] [nvarchar](100) NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Login] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_UserNK] PRIMARY KEY CLUSTERED 
(
	[ID_User] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AddressNK] ON 

INSERT [dbo].[AddressNK] ([ID_Address], [PostalCode], [City], [Street], [House]) VALUES (1, N'101000', N'Москва', N'ул. Тверская', 15)
INSERT [dbo].[AddressNK] ([ID_Address], [PostalCode], [City], [Street], [House]) VALUES (2, N'191186', N'Санкт-Петербург', N'Невский пр.', 28)
INSERT [dbo].[AddressNK] ([ID_Address], [PostalCode], [City], [Street], [House]) VALUES (3, N'603000', N'Нижний Новгород', N'ул. Большая Покровская', 42)
SET IDENTITY_INSERT [dbo].[AddressNK] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductNK] ON 

INSERT [dbo].[ProductNK] ([ID_Product], [Article], [Name], [Unit], [Price], [Supplier], [Manufacturer], [Category], [Discount], [Quantity], [Description], [Photo]) VALUES (1, N'US-001', N'Свидетельство верности копии документа', N'шт', CAST(350.00 AS Decimal(10, 2)), N'Нотариальная палата', N'Минюст РФ', N'Удостоверение', 0, 9999, N'Заверение копии до 5 страниц', N'Заглушка.jpeg')
INSERT [dbo].[ProductNK] ([ID_Product], [Article], [Name], [Unit], [Price], [Supplier], [Manufacturer], [Category], [Discount], [Quantity], [Description], [Photo]) VALUES (2, N'US-002', N'Свидетельство подлинности подписи', N'шт', CAST(500.00 AS Decimal(10, 2)), N'Нотариальная палата', N'Минюст РФ', N'Удостоверение', 0, 9999, N'За одно лицо', NULL)
INSERT [dbo].[ProductNK] ([ID_Product], [Article], [Name], [Unit], [Price], [Supplier], [Manufacturer], [Category], [Discount], [Quantity], [Description], [Photo]) VALUES (3, N'US-003', N'Договор купли-продажи недвижимости', N'шт', CAST(2500.00 AS Decimal(10, 2)), N'Нотариальная палата', N'Минюст РФ', N'Договор', 0, 9999, N'Составление и удостоверение', NULL)
SET IDENTITY_INSERT [dbo].[ProductNK] OFF
GO
INSERT [dbo].[RoleNK] ([UserRole]) VALUES (N'Администратор')
INSERT [dbo].[RoleNK] ([UserRole]) VALUES (N'Клиент')
INSERT [dbo].[RoleNK] ([UserRole]) VALUES (N'Менеджер')
GO
SET IDENTITY_INSERT [dbo].[UserNK] ON 

INSERT [dbo].[UserNK] ([ID_User], [UserRole], [FullName], [Login], [Password]) VALUES (1, N'Администратор', N'Петрова Елена Владимировна', N'admin.notary', N'hash_admin')
INSERT [dbo].[UserNK] ([ID_User], [UserRole], [FullName], [Login], [Password]) VALUES (2, N'Менеджер', N'Смирнова Ольга Алексеевна', N'mgr.olga', N'hash_mgr1')
INSERT [dbo].[UserNK] ([ID_User], [UserRole], [FullName], [Login], [Password]) VALUES (3, N'Менеджер', N'Кузнецов Дмитрий Сергеевич', N'mgr.dmitry', N'hash_mgr2')
SET IDENTITY_INSERT [dbo].[UserNK] OFF
GO
ALTER TABLE [dbo].[UserNK]  WITH CHECK ADD  CONSTRAINT [FK_UserNK_RoleNK] FOREIGN KEY([UserRole])
REFERENCES [dbo].[RoleNK] ([UserRole])
GO
ALTER TABLE [dbo].[UserNK] CHECK CONSTRAINT [FK_UserNK_RoleNK]
GO
